/* poppins - fonts google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* variables */
:root {
    --color-light-50: #f8fafc;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    --color-blue-50: #04e0ba;
    --color-blue-100: #05aecb;
    --color-blue-200: #0181da;

    --color-green-50: #11acb0;
    --color-green-100: #225e7a;
    --color-green-200: #330f42;

    --color-gradient-light: linear-gradient(90deg, var(--color-blue-50), var(--color-blue-100), var(--color-blue-100), var(--color-blue-200));

    --color-gradient-dark: linear-gradient(90deg, var(--color-green-50), var(--color-green-100), var(--color-green-100), var(--color-green-200));
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

/* form */
#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;   
}

#login-form {
    background-color: var(--color-light-50);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: .5rem;
    gap: 2rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    position: absolute;

    animation: dark-to-light .3s ease-in-out;
}

/* header */
#form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form-header h1 {
    font-size: 2.5rem;
    position: relative;
}

#form-header h1::before {
    position: absolute;
    content: '';
    width: 40%;
    background-color: var(--color-blue-50);
    height: 3px;
    bottom: 10px;
    border-radius: 5px;
}

/* dark/light button */
#mode-icon {
    cursor: pointer;
    font-size: 1.5rem;
}

/* login with social media */
#social-media {
    display: flex;
    justify-content: space-around;
}

#social-media img {
    width: 3.3rem;
    transition: 0.3s;
    padding: .3rem;
}

#social-media img:hover {
    transform: scale(1.2);
}

/* input boxes */
#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.3rem;
}

.input-field {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: text;
    border-bottom: 1px solid var(--color-blue-50);
}

.input-field i {
    color: var(--color-dark-900);
    font-size: 1.3rem;
}

.input-field input {
    border: none;
    background-color: transparent;
    width: 15rem;
    font-size: 1.2rem;
    padding: 0 5px;
}

.input-field input:focus {
    outline: none;
}

/* forgot password option */
#forgot-password a {
    text-decoration: none;
    font-size: .8rem;
    color: var(--color-dark-50);
}

#forgot-password a:hover {
    color: var(--color-blue-50);
}

/* login button */
#login-btn {
    border: none;
    background: var(--color-gradient-light);
    color: var(--color-light-50);
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#login-btn:hover {
    transform: scale(1.05);
}

/* Dark mode settings */
.dark#login-form {
    color: var(--color-light-50);
    background-color: var(--color-dark-100);
    animation: light-to-dark .3s ease-in-out;
}

.dark#login-form .input-field input,
.dark#login-form .input-field i {
    color: var(--color-light-50);
}

.dark#login-form #login-btn {
    background: var(--color-gradient-dark);
}

.dark#login-form .input-field {
    border-bottom: 1px solid var(--color-green-50);
}

.dark#login-form #form-header h1::before {
    background-color: var(--color-green-50);
}

/* Dark mode animation */
@keyframes dark-to-light {
    0% {
        background-color: var(--color-dark-100);
    }

    100% {
        background-color: var(--color-light-50);
    }
}

@keyframes light-to-dark {
    0% {
        background-color: var(--color-light-50);
    }

    100% {
        background-color: var(--color-dark-100);
    }
}

@media (width < 27em) {
    html {
        font-size: 80%;
    }
}